main {background-color: #ccffff;}
h1 {background-color: #00e6e6;}
h2 {background-color: #00e6e6;}
h3 {background-color: #00e6e6;}
h4 {background-color: #00e6e6;}
h5 {background-color: #00e6e6;}
footer {background-color: #00b3b3;}
footer {color: white}
body {background-color: #009999}
